<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>AskerKz</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profiles.css">
    <script href="/javaScript/profile.js"></script>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img th:src="@{/images/logo.png}" alt="AskerFoto"><span th:text="#{site.name}"></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                    <li class="nav-item "> <a th:href="@{'/main/'}" class="nav-link" th:text="#{link.main}"></a></li>
                    <li class="nav-item"> <a th:href="@{'/main/about'}" class="nav-link" th:text="#{link.about}"></a></li>
                    <li class="nav-item"> <a th:href="@{/main/login/link}" class="nav-link" th:text="#{link.login}"></a></li>
                    <li class="nav-item"> <a th:href="@{/userCon/registrPage/link}" class="nav-link" th:text="#{link.register}"></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'?lang=en'}">English</a>
                            <a class="dropdown-item" th:href="@{'?lang=ru'}">Русский</a>
                        </div>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                    <li class="nav-item ">
                        <a th:href="@{'/main/'}" class="nav-link" th:text="#{link.main}"></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/main/about'}" class="nav-link" th:text="#{link.about}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{'/main/admin_profile'}"  th:text="#{link.adminPage}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" th:href="@{'/main/profile'}" th:text="#{link.userPage}"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" th:href="@{'?lang=en'}">English</a>
                            <a class="dropdown-item" th:href="@{'?lang=ru'}">Русский</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/logout'}" class="btn btn-outline-danger" role="button" th:text="#{link.logout}">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" layout:fragment="content">

    </div>

</body>
</html>